{
  border: 1px red dashed;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
.home-container {
  height: 20rem;
  
}

  h1 {
    color: #333;
  }
  
  div {
    margin: 20px;
  }

  .bg-dark-purple {
    background-color: #53505c !important; 
    color: white;
  }

  .bg-light-purple {
    color: #333;
    background-color: #eee3fc; 
    min-height: 40%; 
    display: flex;
    align-items: center;
    justify-content: center;
  }


    .cards-container {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start; 
      justify-content: space-between; 
      margin: 0;
      padding: 0;
    }

  .cards {
    background-color: #3b6cc9;
    width: 20%;
    margin: 0;
    padding: 0;
  }
  .text-dark-tittle {
    color: #686e6c;
  }

  .custom-bottom {
    height: 120px; 
  }